@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 1.5vw;
    color: #0099ff;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(135deg, rgb(6, 88, 6), rgb(113, 190, 113));
    font-family: "SUSE", sans-serif;

    & h1{
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translate(-50%, -50%);
        color: #e8e6c9;
        font-size: 2vw;
    }
}

.container{
    background-image: url(img/exercicio-11/dólar.png);
    background-size: cover;
    filter: drop-shadow(0px 0px 40px #e8e6c9);
    width: 40vw;
    height: 55vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & input{
        width: 10vw;
        height: 3.5vh;
        outline: none;
        border-radius: 10px;
    }

    & select{
        height: 3.5vh;
        outline: none;
        border-radius: 10px;
    }

    & button{
        height: 4vh;
        width: 4vw;
        cursor: pointer;
        transition: .5s;
        border-radius: 10px;
        border: none;
    }

    & button:hover{
        background-color: #338b27;
        color: #fff;
        border: 1px solid #fff;
    }
}

#resultado{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    color: #e8e6c9;
}