*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/exercicio-12/matematica.png);
    background-position: ;
    background-repeat: no-repeat;
    background-size: cover;
}