* { 
    margin: 0;
    box-sizing: border-box;
}

h1{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -20%);
}

body{
    min-height: 100vh;
    background-image: url(img/pagina1/javascipt.png);
    background-repeat: no-repeat;
    background-size:cover;

    & a{
        text-decoration: none;
        padding: 0.3vw;
    }
}

.elseif{
    height: 10vh;
    width: 5.2vw;
    border-radius: 50px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30%;
    top: 25%;
    transform: translate(-10%,-20%);
    transition: .5s;

    & a{
        display: none;
    }
}

.elseif:hover{
    width: 25vw;
    height: 25vh;
    position: absolute;
    left: 21.5%;
    top: 20%;
    transform: translate(-10%,-20%);

    & a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & p{
        display: none;
    }
}

.switch{
    height: 10vh;
    width: 5.2vw;
    border-radius: 50px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30%;
    top: 25%;
    transform: translate(-20%,-20%);
    transition: .5s;

    & a{
        display: none;
    }
}

.switch:hover{
    width: 25vw;
    height: 25vh;
    position: absolute;
    right: 15%;
    top: 20%;
    transform: translate(-20%,-20%);

    & a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & p{
        display: none;
    }
}

.while{
    height: 10vh;
    width: 5.2vw;
    border-radius: 50px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%, -20%);
    transition: .5s;

    & a{
        display: none;
    }
}

.while:hover{
    width: 25vw;
    height: 25vh;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -20%);

    & a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & p{
        display: none;
    }
}